<%= form_for @volunteer, :url => {action: @action } do |f| %>

  <table class="table table-striped">

    <tr>
      <td>
        <label for="volunteer_name">
          Name
        </label>
      </td>
      <td><%= f.text_field(:name, class: "form-control") %></td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_photo">
          Photo
        </label>
      </td>
      <td>
        <%= image_tag @volunteer.photo.url(:thumb), alt: "#{@volunteer.name} Photo" %>
        <%= f.file_field(:photo) %>
      </td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_email">
          Email
        </label>
      </td>
      <td><%= f.text_field(:email, class: "form-control") %></td>
    </tr>

    <tr>
      <td>
        <label for="">Receive collection reminder emails</label>
      </td>
      <td>
        <div>
          <%= f.check_box(:pre_reminders_too) %> Yes
        </div>
      </td>
    </tr>

    <% if current_volunteer.any_admin? %>
      <tr>
        <td>
          <label for="volunteer_admin_notes">Admin Notes</label>
        </td>
        <td><%= f.text_area(:admin_notes, size: "30x6", class: "form-control") %></td>
      </tr>
      <%= hidden_field_tag "volunteer[region_ids][]","" %>
      <tr>
        <td>
          <label for="">Region(s)</label>
        </td>
        <td>
          <% @my_admin_regions.each{ |r| %>
            <div class="col-sm-3">
              <%= check_box_tag "volunteer[region_ids][]", r.id, @volunteer.regions.include?(r) %>
              <label for=""><%= r.name %></label>
            </div>
          <% } unless @my_admin_regions.nil? %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="volunteer_is_disabled">Account Disabled</label>
        </td>
        <td><%= f.check_box(:is_disabled) %></td>
      </tr>
    <% end %>

  </table>

  <%= submit_tag %>

<% end %>
