<h2><%= @header %></h2>

<% if @volunteers.length == 0 %>
  <p>No volunteers matching that criteria...</p>
<% else %>

  <table class="table" id="data_table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Email </th>
        <th> Phone </th>
        <% if current_volunteer.any_admin? %>
          <th> Waiver signed </th>
          <th> Waiver date </th>
          <th> Link </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%
      @volunteers.each do |v|
        row_bgcolor = nil
        if v.super_admin?
          row_bgcolor = "red"
        elsif v.any_admin?
          row_bgcolor = "pink"
        elsif v.needs_training?
          row_bgcolor = "lightgreen"
        end
      %>
      <tr <% unless row_bgcolor.nil? %>style="background: <%= row_bgcolor %>;"<% end %>>
        <td> <%= link_to v.name, v unless v.name.nil? %></td>
        <td> <a href="mailto:<%= v.email %>"><%= v.email %></a></td>
        <td> <%= v.phone %></td>
        <% if current_volunteer.any_admin? %>
          <td><%= v.waiver_signed %></td>
          <td><%= Time.at(v.waiver_signed_at).strftime('%Y-%m-%d') if v.waiver_signed %></td>
          <td>
            <% if current_volunteer.super_admin? or (current_volunteer.admin_region_ids & v.region_ids).length > 0 %>
              <%= link_to 'edit', edit_volunteer_path(v) %><br>
              <%= link_to "delete", v, :confirm => "Are you sure?", :method => :delete %>
              <% unless v.active %>
                <br><%= link_to 'reactivate', reactivate_volunteer_path(v) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_volunteer.any_admin? %>
    <br><br>
    <b>Key:</b> <span class="label" style="background: red">Admin</span>
    <span class="label" style="background: pink">Region Admin</span>
    <span class="label" style="background: lightgreen;">Needs Training (no completed shift)</span>
    <br><br>
    <b>Email List</b> <i class="muted">(you can copy and paste this into an email)</i>
    <blockquote><%= @volunteers.collect{ |v| v.email }.join(", ") %></blockquote>
  <% end %>

<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
$(function () {
  $('#data_table').dataTable( {
    'iDisplayLength' : 50
  });
});
</script>
<% end %>
