<div class="row">
  <div class="col-sm-12">
    <h2>Volunteer Release and Waiver of Liability</h2>
    <pre>
      This Volunteer Release and Waiver of Liability is executed by and between 
      <%= current_volunteer.name %> (<%= current_volunteer.email %>) and Food Link, Inc., a nonprofit corporation 
      organized under the laws of the Commonwealth of Massachusetts as of <%= Time.zone.today.to_s %>.

      I, the Volunteer, desire to volunteer with Food Link. I understand that 
      my activities may include, but are not limited to, operating a motor vehicle 
      and otherwise collecting, lifting, transporting, handling and delivering food.  
      I understand that, due to such causes as unforeseen events and uncontrollable 
      circumstances, including weather, conditions of facilities or equipment, 
      conditions of roads, contamination of food or facilities, human errors of myself 
      and others, the mechanical failure of motor vehicles, weight or unwieldiness 
      of transported goods, or “Acts of God,” my participation may result in injuries 
      to person or property.  I also understand that it may be necessary to provide 
      first-aid treatment and other medical services in the case of injury and illness.  
      These and all other potential occurrences and activities relating to participation 
      as a volunteer on behalf of Food Link are referred to, collectively, 
      as the “Activities.”

      In consideration of the opportunity to engage in the Activities, I hereby freely 
      and voluntarily, without duress, assume the risk of injury or harm in connection 
      with the Activities and execute this Release and Waiver: 


      1. I agree to comply with any rules or requirements that may be established 
      by Food Link.


      2. I acknowledge that I am donating my time and services without compensation, 
      and that I am not an employee of Food Link.

      3. I assume all risks and responsibilities in any way associated with my 
      Volunteer Activities. I hereby release, indemnify, forever discharge and hold harmless 
      Food Link and its directors, officers, employees, donors, agents, affiliates 
      and successors from any claims, demands, causes of action or liability whatsoever 
      that may arise from my Activities, including without limitation bodily injury, 
      personal injury, illness, death, or property damage that may result in connection 
      with my participation in the Activities.


      4. I understand that Food Link does not assume any responsibility or obligation 
      to provide me or any other volunteer any financial or other assistance, including, 
      but not limited to medical, health, or disability insurance, in the event of injury, 
      illness, death or property damage.  EACH VOLUNTEER IS EXPECTED AND ENCOURAGED 
      TO CARRY HEALTH INSURANCE PRIOR TO ENGAGING IN THE ACTIVITIES.


      5. I grant and convey unto Food Link all rights, title, and interest in any and all 
      photographic images, quotes, and video or audio recordings (collectively, the “Media”) 
      made by or on behalf of Food Link in connection with my participation in the Activities,
      including, but not limited to, any royalties, proceeds, or other benefits derived from 
      such Media.  In addition, I give my permission for the use of my name, likeness, voice, 
      and quotes in connection with the Media in any and all manner and media throughout the 
      world in perpetuity (including, but not limited to, publicity and fundraising campaigns).  
      I further release Food Link, its directors, officers, agents, employees, volunteers, 
      licensees, and assigns from and against any and all claim or any other cause of action 
      arising out of any use or reproductions of such Media.


      By signing below, I hereby warrant that I have read this entire Waiver and Release, 
      I fully understand it, and I agree to be legally bound by it.

    </pre>
    <br />

    <% unless current_volunteer.waiver_signed %>
      <%= form_tag("/volunteers/sign_waiver", method: "get", class: "sign-waiver") do %>
        Check to sign electronically: <%= check_box_tag 'accept', 1 %><br />
        Date: <%= Time.zone.today.to_s %><br /><br />
        <%= submit_tag 'Sign', class: "form-control" %>
      <% end %>
    <% else %>
      <span style="font-weight: bold; color: orange;">You signed the waiver at <%= current_volunteer.waiver_signed_at.to_s %>.</span>
      <br /><br />
    <% end %>
  </div>
</div>
