<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <p>
    Most awesome region administrator!
  </p>
  <p>
    A new shift report has been submitted by <strong><%= @volunteer.name %></strong> for <%= @log.donor.name if @log.donor %> (<%= @log.when.strftime("%b %e, %Y") %>).
  </p>

  <h4>Report details</h4>
  <hr>

  <%= render "logs/details" %>
  <hr>
  <%= link_to "See full report", log_url(@log) %>

  <p>
    Thanks!
  </p>
  <p>
    *chirp* *beep*
  </p>
  --<br/>
  The Food Link Robot<br/>
  <%= root_url %>
</body>
</html>