
  <p>
    <strong>Date:</strong><br>
   <%= readable_time_until @log %>
</p>

<p>
  <strong>Volunteers:</strong><br>
  <% if @log.volunteers.empty? %>
    <button class="btn btn-primary take" onclick="window.location='<%= take_log_path(@log) %>';">
      <i class="fa fa-hand-rock-o"></i>
      Take
    </button>
  <% else %>
    <% @log.volunteers.each do |volunteer| %>
      <%= link_to volunteer.name, volunteer %><br/>
    <% end %>
  <% end %>
  <% unless @log.absences.empty? %>
    <small><br>(normally <% @log.absences.each{ |a| %><%= a.volunteer.name %><% } %>)</small>
  <% end %>
</p>

<p>
  <strong>Donor:</strong><br>
 <%= link_to @log.donor.name, @log.donor %></p>

<p>
  <strong>Recipient(s):</strong><br>
  <% @log.recipients.each do |recip| %> <%= link_to recip.name, recip %> <br> <% end %>
</p>

<p>
  <strong>Items collected:</strong><br >
  <% @log.log_parts.each do |lp| %>
    <%= lp.food_type.name %>: <%= lp.num_boxes %> boxes<br>
  <% end %>
</p>

<p>
  <strong>Important information for the next day’s operation:</strong><br>
 <%= @log.info_for_next_day %>
</p>

<p>
  <strong>Information about volunteers:</strong><br>
  <%= @log.volunteer_feedback %>
</p>

<p>
  <strong>Other notes:</strong><br>
 <%= @log.notes.nil? ? "" : word_wrap(@log.notes,:line_width => 20).gsub("\n","<br>").html_safe %>
 </p>