<%= simple_form_for @log, url: {action: @action }, class: 'form-horizontal' do |f| %>
  <!-- Errors -->
  <% if @log.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <strong><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</strong>
        <ul>
          <% @log.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="table-striped">
    <%= hidden_field_tag "log[region_id]", @region.id %>
    <%= hidden_field_tag "log[schedule_chain_id]", @log.schedule_chain.nil? ? nil : @log.schedule_chain.id  %>
    <details>
      <div class="row">
        <div class="col-sm-4">
          Date
        </div>
        <div class="col-sm-8">
          <%= f.date_select :when, {order: [:month, :day, :year]}, {class: "form-control inline"} %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">Volunteer</div>
        <div class="col-sm-8">
          <div>
            <%= f.simple_fields_for :log_volunteers do |log_volunteer| %>
              <%= render 'log_volunteer_fields', :f => log_volunteer %>
            <% end %>
            <br />
            <%= link_to_add_association 'add another volunteer', f, :log_volunteers, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <% if current_volunteer.any_admin?(@log.region) %>
        <div class="row">
          <div class="col-sm-4">
            Needed Volunteers<br/>
            <span class="subtext">Default is the number required by the associated schedule, or at least one.</span>
          </div>
          <div class="col-sm-8">
            <%= f.text_field(:num_volunteers, class: "form-control") %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-4">Donor</div>
        <div class="col-sm-8">
          <%= f.select :donor_id, (@region.locations.donors + @region.locations.hubs + @region.locations.sellers).collect{ |d| [d.name,d.id] if d }, {include_blank: true}, {class: 'form-control select2'} %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">Recipients</div>
        <div class="col-sm-8">
          <div>
            <%= f.simple_fields_for :log_recipients do |log_recipient| %>
              <%= render 'log_recipient_fields', :f => log_recipient %>
            <% end %>
            <%= link_to_add_association 'add another recipient', f, :log_recipients, :class=>'btn' %>
          </div>
        </div>
      </div>
    </details>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Items collected</h3>
      <span class="subtext">Enter the amount collected for each food type.<br/>
       If the collection didn’t happen, please enter a “0” for one food type and explain below.</span>
    </div>
    <div class="col-sm-8 table-striped mobile-only">
      <div class="row labels desktop-only">
        <div class=col-sm-4>What*</div>
        <div class=col-sm-3>
          Number of boxes*
        </div>
        <div class=col-sm-5>Description</div>
      </div>
      <% @log.log_parts.each{ |lp| %>
        <%= fields_for :log_parts, lp, :index => "update_#{lp.id}" do |f2| %>
          <div class="log_part row" style="background: <%= lp.required ? "lightgrey" : "white" %>;">
            <div class="col-sm-4">
              <%= f2.select(:food_type_id, @food_types,{include_blank: "Select food type"}, {class: "form-control"}) %>
            </div>
            <div class="col-sm-3">
              <%= f2.text_field(:num_boxes, class: "form-control") %>
            </div>
            <div class="col-sm-4">
              <%= f2.text_field(:description, size: 20, class: "form-control" ) %>
              <%= f2.hidden_field(:id) %>
            </div>
            <div class="col-sm-1">
              <div class="btn btn-danger glyphicon glyphicon-remove"></div>
            </div>
          </div>
        <% end %>
      <% } %>

      <%= fields_for :log_parts, LogPart.new, :index => "new_0" do |f2| %>
        <div class="row log_part">
          <div class="col-sm-4">
            <%= f2.select(:food_type_id, @food_types,{include_blank: "Select food type"}, {class: "form-control"}) %>
          </div>
          <div class="col-sm-3">
            <%= f2.text_field(:num_boxes, placeholder: "Number of boxes", size: 5, class: "form-control") %>
          </div>
          <div class="col-sm-4">
            <%= f2.text_field(:description, size: 20, placeholder: "Description", class: "form-control") %>
          </div>
          <div class="col-sm-1">
            <div class="btn btn-danger glyphicon glyphicon-remove"></div>
          </div>
        </div>
        <div class="row labels">
          <div class="col-sm-4"></div>
          <div class="col-sm-3 center">TOTAL: <span id="total_weight">0</span></div>
        </div>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-3 center">
            <%=
              task = "<div class=\"log_part row\">"
              fields_for :log_parts, LogPart.new, :index => "new_42" do |f2|
                task += "<div class=\"col-sm-4\">" + f2.select(:food_type_id, @food_types,{include_blank: "Select food type"}, {class: 'form-control'}) + "</div>"
                task += "<div class=\"col-sm-3\">" + f2.text_field(:num_boxes,size: 5, placeholder: "Number of boxes", class: 'form-control') + "</div>"
                task += "<div class=\"col-sm-4\">" + f2.text_field(:description,size: 20, placeholder: "Description", class: 'form-control') + "</div><div class='col-sm-1'><div class='btn btn-danger glyphicon glyphicon-remove'></div></div>"
              end
              task += "</div>"
              func_str =
                "var new_id = 'new_' + new Date().getTime();
                $('#{ escape_javascript task }'.replace(/new_\\d+/g, new_id)).insertAfter($('.log_part').last());
                $('#'+new_id).on('change',function(){ update_total_weight(); });";
                link_to_function "+ Add Another", func_str, class: "btn btn-info";
             %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="table-striped">
    <div class="row">
      <div class="col-sm-6">
        Time Spent*<br />
        <span class="subtext">Approximately how long was this shift, in hours? (e.g. 2.5)</span>
      </div>
      <div class="col-sm-6">
        <%= f.number_field(:hours_spent, :size => "3", class: "form-control") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Flag For Admin<br />
        <span class="subtext">Check this if you want to make sure someone reads this.</span>
      </div>
      <div class="col-sm-6">
        <div class="checkbox">
          <label for="log_flag_for_admin">
            <%= f.check_box(:flag_for_admin) %> Flag
          </label>
        </div>
      </div>
    </div>

    <div class="row" id="zero_reason">
      <div class="col-sm-6">
        Why Zero?<br />
        <span class="subtext">You're trying to save a log with zero weight. Please tell us what happened.</span>
      </div>
      <div class="col-sm-6">
        <div class="radio">
          <label for="log_why_zero_1">
            <%= f.radio_button(:why_zero,1) %>
            No Food At Donor
          </label>
        </div>
        <div class="radio">
          <label for="log_why_zero_2">
            <%= f.radio_button(:why_zero,2) %>
            Shift Didn't Happen
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Important information for the next day’s operation<br/>
        <span class="subtext">(Food that needs to be distributed, etc.)</span>
      </div>
      <div class="col-sm-6">
        <%= f.text_area(:info_for_next_day, size: "30x3", class: "form-control") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Information about volunteers<br/>
        <span class="subtext">(New volunteers, no shows, praise, etc.)</span>
      </div>
      <div class="col-sm-6">
        <%= f.text_area(:volunteer_feedback, size: "30x3", class: "form-control") %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        Other notes<br/>
        <span class="subtext">Something to report? Any problems? (Equipment updates, updates from food donors or recipient agencies, etc.)</span>
      </div>
      <div class="col-sm-6"><%= f.text_area(:notes, size: "30x3", class: "form-control") %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 center">
      <%= submit_tag %>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
  function update_total_weight(){
    t = 0.0
    $( "input[id$='num_boxes']").each(function(i){
      v = $(this).val()
      if(v != "" && v != undefined) {
        t = t + parseFloat(v)
      }
    })
    if(isNaN(t) || t <= 0){
      $("#zero_reason").show();
    }else{
      $("#zero_reason").hide();
    }
    $("#total_weight").text(t)
  }

  jQuery(document).ready(function() {

    update_total_weight();
    $( "input[id$='num_boxes']").each(function(i){
      $(self).on("change",function(){
        update_total_weight();
      });
    });

    $(document).on("click", ".log_part .glyphicon-remove", function(){
      if($(".log_part").length > 1){
        $(this).closest(".log_part").remove();
        update_total_weight();
      }
    })
  });
</script>
<% end %>
